node_modules/
npm-debug.log
yarn-error.log
pnpm-lock.yaml

dist/
build/
*.tsbuildinfo

.env
.env.test
.env.production


uploads/
imgs/
coverage/

logs/
*.log
npm-debug.log*

.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

